/* TAGS */
body {
   background: #20164e;
   color: rgb(204, 193, 53);
   font-size: 20px;
}
a{
     color:  rgb(209, 81, 215);
}
div {
     margin: 50px;
}
nav{
     height: 100px;
     background: url("media/circuit.jpg");
     background-size: cover;
}
nav>ul{
     display: flex;
     list-style: none;
}
li {
     margin: 20px;
}
button{
     margin: 3px;
}
button>a{
     text-decoration: none;
}
h1 {
   font-family: sans-serif;
}
h3 {
   font-style: italic;
}
button {
   padding: 10px;
}

/* CLASSES */
.panel {
     display: none;
}
.panel[aria-hidden="false"]{
     display: block;
}
.navitem[aria-selected="true"]{
     text-decoration: underline;
     font-weight: bold;

     /* MEDIA QUERIES */
