body {
   background: #c2f7fa;
   font-family: serif;
   font-size: 20px;
}
h1 {
   font-family: sans-serif;
}
h3 {
   font-style: italic;
}
button {
   padding: 10px;
}
.panel {
     display: none;
}
.panel[aria-hidden="false"]{
     display: block;
}
.navitem[aria-selected="true"]{
     background: orange;
