body {
   background: #20164e;
   color: rgb(204, 193, 53);
   font-size: 20px;
}
a{
     color:  rgb(209, 81, 215);
}
nav>ul{
     display: flex;
     list-style: none;
}
li {
     margin: 20px;
}
button>a{
     text-decoration: none;
}
h1 {
   font-family: sans-serif;
}
h3 {
   font-style: italic;
}
button {
   padding: 10px;
}
.panel {
     display: none;
}
.panel[aria-hidden="false"]{
     display: block;
}
.navitem[aria-selected="true"]{
     background: orange;
